{{#if this.isFiltered}}
  <div class='shadow-sm filter-bar'>
    <div class='filter-tag-container'>
      {{#each this.filterTags as |filterTag|}}
        <div class='filter-tag'>
          <div class='filter-text'>
            <p>{{filterTag}}</p>
          </div>
          <button class='filter-remove'>
            <img src='./images/icon-remove.svg' alt='' />
          </button>
        </div>
      {{/each}}
    </div>
    <button
      class='filter-clear-btn'
      type='button'
      {{on 'click' this.clearFilter}}
    >Clear</button>
  </div>
{{/if}}

{{#each this.filteredListings as |listing|}}
  <div class='job-listing {{if listing.featured 'job-listing--featured'}}'>
    <div class='job-details'>
      <div class='company-logo'>
        <img src={{listing.logo}} alt="{{listing.company}}'s Logo" />
      </div>
      <div class='company-info'>
        <p>{{listing.company}}
          &nbsp;&nbsp;
          {{#if listing.new}}
            <span class='new-pill'>NEW!</span>
          {{/if}}
          {{#if listing.featured}}
            <span class='featured-pill'>FEATURED</span>
          {{/if}}
        </p>
      </div>
      <div class='job-info'>
        <h1>{{listing.position}}</h1>
        <p>
          {{listing.postedAt}}
          <span>&#8226;</span>
          {{listing.contract}}
          <span>&#8226;</span>
          {{listing.location}}
        </p>
      </div>
    </div>
    <hr />
    <div class='job-tags'>
      <button
        data-type='role'
        type='button'
        {{on 'click' this.changeFilter}}
      >{{listing.role}}</button>
      <button
        data-type='level'
        type='button'
        {{on 'click' this.changeFilter}}
      >{{listing.level}}</button>
      {{#each listing.languages as |language index|}}
        <button
          data-type='language'
          type='button'
          {{on 'click' this.changeFilter}}
        >{{language}}</button>
      {{/each}}
      {{#each listing.tools as |tool|}}
        <button
          data-type='tool'
          type='button'
          {{on 'click' this.changeFilter}}
        >{{tool}}</button>
      {{/each}}
    </div>
  </div>
{{/each}}